<div class="booyah-box col-10 offset-1">
  <% if @place.photos.last.present? %>
    <%= image_tag @place.photos.last.picture.to_xml %>
  <% end %>
  <div class="float-left">
    <h1><%= @place.name %></h1>
    <i><%= @place.address %></i>
    <br /><br />
    <p><%= @place.description %></p>
  </div>
  <button type="button" class="btn btn-primary btn-lg float-right" data-toggle="modal" data-target="#myPhotoModal">
    Add a Photo
  </button>
  <div class="clear"></div>

  <% if @place.latitude.present? && @place.longitude.present? %>
  <script>
    function initMap() {
      var myLatLng = {
        lat: <%= @place.latitude %> ,
        lng: <%= @place.longitude %>
      };

      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 12,
        center: myLatLng
      });

      var marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
        title: "<%== j(@place.name) %>"
      });
    }
  </script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWJjgktqibNfmRO0DMamntSS0zCiJ-K4E&callback=initMap"></script>
  <div id="map"></div>
  <% end %>

  <br />

  <div class="float-right">
    <% if current_user && current_user == @place.user %>
    <%= link_to 'Edit', edit_place_path(@place), class: 'btn btn-primary' %>
    <%= link_to 'Delete', place_path(@place), method: :delete, data: {confirm: 'Are you sure you want to delete this place?'}, class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
<br />
<div class="col-10 offset-1">
  <h1 class="float-left">Comments</h1>
  <!-- Button trigger Comment modal -->
  <button type="button" class="btn btn-primary btn-lg float-right" data-toggle="modal" data-target="#myCommentModal">
    Add a Comment
  </button>
</div>
<div class="clear"></div>
<!-- Modal -->
<div class="modal fade" id="myCommentModal" tabindex="-1" role="dialog" aria-labelledby="myCommentModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myCommentModalLabel">Add a Comment</h4>
      </div>
      <%= simple_form_for @comment, url: place_comments_path(@place) do |f| %>
      <div class="modal-body booyah-box col-10 offset-1">
        <%= f.input :message %>
        <%= f.input :rating, as: :select, collection: Comment::RATINGS %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= f.submit "Add a Comment", class: 'btn btn-primary' %>
      </div>
      <% end %>
    </div>
  </div>
</div>
<!-- Photo Modal -->
<div class="modal fade" id="myPhotoModal" tabindex="-1" role="dialog" aria-labelledby="myPhotoModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myPhotoModalLabel">Add a Photo</h4>
      </div>
      <%= simple_form_for @photo, url: place_photos_path(@place) do |f| %>
      <div class="modal-body booyah-box col-10 offset-1">
        <%= f.input :picture %>
        <%= f.input :caption %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= f.submit "Add a Photo", class: 'btn btn-primary' %>
      </div>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <% if @place.comments.present? %>
    <% @place.comments.each do |comment| %>
      <div class="col-12 col-sm-6">
        <blockquote>
          <% if comment.humanized_rating.present? %>
            <b><%= comment.humanized_rating %></b> - 
          <% end %>
          <%= comment.message %>
          <small><%= comment.user.email %></small>
        </blockquote>
      </div>
    <% end %>
  <% end %>
</div>

  